<!DOCTYPE html>
<html>
    <head>
         <title>About</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" href="/img/weather.png">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            {{!-- <img class="portrait" src="img/1519910803330.png">    --}}
            This application is created by Uttam Kumar Sah. Application is using an API to fetch data of a Location.
        </div>    
        {{>footer}}
    </body>
</html>        